<header>
    <div class="top-nav">
        <h1 class="topnav-logo">
            <a href="/">
                <img src="{{ asset('assets/logo.svg') }}" alt="Sativion logo">
            </a>
        </h1>
        <nav class="desktop-nav">
            <a href="{{ url('materials') }}">{{ 'nav.materials'|trans }}</a>
            <a href="{{ url('food') }}">{{ 'nav.food'|trans }}</a>
            <a href="{{ url('health') }}">{{ 'nav.health'|trans }}</a>
            <a href="{{ url('contact') }}">{{ 'nav.contact'|trans }}</a>
            <a href="{{ url('partner') }}">{{ 'nav.partner'|trans }}</a>
            <span class="langselect">
                <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'hu'}) }}">HU</a>
                <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">EN</a>
            </span>
        </nav>
        <span id="menu-button"></span>
    </div>
    <nav class="mobile-nav">
        <div class="mobilemenu">
            <span class="langselect">
                <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'hu'}) }}">HU</a>
                <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">EN</a>
            </span>
            <a href="{{ url('materials') }}">{{ 'nav.materials'|trans }}</a>
            <a href="{{ url('food') }}">{{ 'nav.food'|trans }}</a>
            <a href="{{ url('health') }}">{{ 'nav.health'|trans }}</a>
            <a href="{{ url('contact') }}">{{ 'nav.contact'|trans }}</a>
            <a href="{{ url('partner') }}">{{ 'nav.partner'|trans }}</a>
        </div>
    </nav>
    <script src="{{ asset('js/mobile.js') }}"></script>
</header>