{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="css/home.css">
    <title>Sativion</title>
{% endblock %}

{% block content %}
    <div class="home-container">
        <div class="banner">
            <div class="banner mask">
            </div>
            <h3>{{ 'home.banner1'|trans }}</h3>
            <h3>{{ 'home.banner2'|trans|nl2br }}</h3>
        </div>
        <article class="home-art" lang="hu">
            <h4>{{ 'home.motivation'|trans|nl2br }}</h4>
            <div class="home-art product-list">
                <span>
                    <img src="{{ asset('assets/home/alap-icon.svg') }}" alt="">
                    <a href=""><h3>{{ 'home.products.raw.title'|trans }}</h3></a>
                    <p>{{ 'home.products.raw.desc'|trans }}</p>
                </span>
                <span>
                    <img src="{{ asset('assets/home/food-icon.svg') }}" alt="">
                    <a href=""><h3>{{ 'home.products.food.title'|trans }}</h3></a>
                    <p>{{ 'home.products.food.desc'|trans }}</p>
                </span>
                <span>
                    <img src="{{ asset('assets/home/gyogy-icon.svg') }}" alt="">
                    <a href=""><h3>{{ 'home.products.health.title'|trans }}</h3></a>
                    <p>{{ 'home.products.health.desc'|trans }}</p>
                </span>
                <span>
                    <img src="{{ asset('assets/home/partner-icon.svg') }}" alt="">
                    <a href=""><h3>{{ 'home.products.partner.title'|trans }}</h3></a>
                    <p>{{ 'home.products.partner.desc'|trans }}</p>
                </span>
            </div>
        </article>
    </div>
{% endblock %}